<p-toast></p-toast>

<div class="card">
    <p-toolbar>
       
    </p-toolbar>

    <p-table [value]="filteredPayments" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" selectionMode="single" [(selection)]="selectedPayment">
        <ng-template pTemplate="header">
            <tr>
                <th colspan="8">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <!-- Manage Columns Button (Left-Aligned) -->
                        <p-button type="button" icon="pi pi-cog" label="{{'add_payment' | translate}}" styleClass="p-button-text" (click)="onAddPayment()"></p-button>

                    <p-button type="button" icon="pi pi-cog" (click)="columnDialogVisible = true" 
                              label="Manage Columns" styleClass="p-button-text"></p-button>
                    
                    <!-- Search Input (Right-Aligned) -->
                    <input pInputText type="text" [(ngModel)]="searchTerm" 
                           (input)="onSearch()" placeholder="Search" 
                           class="p-inputtext-sm p-mb-3 p-ml-auto" />
                  </div>
                </th>
              </tr>
            <tr>
                <th *ngFor="let column of targetColumns">
                    {{ column.header }}
    
                  </th>
                  
             </tr>
             
        </ng-template>
     <!-- Table body template to display the data -->
     <ng-template pTemplate="body" let-payment let-columns="targetColumns">
        <tr [pSelectableRow]="payments">
          <td *ngFor="let column of targetColumns">
            <ng-container *ngIf="column.field === 'invoice.status'">
              <p-tag [value]="payment[column.field]" [severity]="functions.getSeverity(payment[column.field])">
              </p-tag>
            </ng-container>
    
            <!-- For all other columns, use the getNestedValue method -->
            <ng-container *ngIf="column.field !== 'invoice.status'">
              <!-- Get the value of the field dynamically using getNestedValue -->
              {{ getNestedValue(payment, column.field) }}
            </ng-container>
          </td>
          <td class="p-d-flex p-ai-center">
            <!-- <p-button icon="pi pi-finish" label="{{' preview' |translate }}" [outlined]="true" [disabled]="item.status === 'PAYED'"> -->
              <img 
                    src="assets/images/icons/more-info.png" 
                    width="50px"    
                    style="margin-right: .5rem;"
                    (click)="showDetails(payment)"
                  />
            <!-- </p-button> -->
            <img 
            src="assets/images/icons/delete.png" 
             width="50px" 
             (click)="deletePayment(payment.paymentID)" 
             />
       
           </td>
        </tr>
      </ng-template>
    </p-table>
</div>

<!-- PAYMENT INSPECTION DETAILS -->
<p-dialog header="Payment Details" [(visible)]="displayPaymentDialog" [modal]="true" [style]="{ width: '60vw' }" [closable]="true" class="invoice-dialog">
  <div *ngIf="selectedPayment" class="invoice-content">
    <!-- Payment Header Section -->
    <div class="header-section">
      <h2>Payment ID: {{ selectedPayment.paymentID ?? 'N/A' }}</h2>
      <p><b>Payment Date:</b> {{ selectedPayment.paymentDate | date:'long' }}</p>
      <p><b>Amount Paid:</b> {{ selectedPayment.amountPaid | currency:selectedPayment.currency }}</p>
    </div>

    <div class="divider"></div>

    <!-- Payment Details Section -->
    <div class="details-section">
      <h3>Payment Details</h3>
      <div class="grid">
        <div class="grid-item"><b>Invoice Number:</b> {{ selectedPayment.invoiceNumber }}</div>
        <div class="grid-item"><b>Payment Method:</b> {{ selectedPayment.paymentMethod }}</div>
        <div class="grid-item"><b>Reference Number:</b> {{ selectedPayment.referenceNumber || 'N/A' }}</div>
        <div class="grid-item"><b>Currency:</b> {{ selectedPayment.currency }}</div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- Linked Invoice Section -->
    <div class="details-section">
      <h3>Linked Invoice</h3>
      <div class="grid">
        <div class="grid-item"><b>Total Amount:</b> {{ selectedPayment.invoice.totalAmount | currency:selectedPayment.currency }}</div>
        <div class="grid-item"><b>Total Paid Amount:</b> {{ selectedPayment.invoice.totalPaidAmount | currency:selectedPayment.currency }}</div>
        <div class="grid-item"><b>Owed Amount:</b> {{ selectedPayment.invoice.owedAmount | currency:selectedPayment.currency }}</div>
        <div class="grid-item"><b>Service Charge:</b> {{ selectedPayment.invoice.serviceCharge | currency:selectedPayment.currency }}</div>
        <div class="grid-item"><b>Operational Charge:</b> {{ selectedPayment.invoice.operationalCharge | currency:selectedPayment.currency }}</div>
        <div class="grid-item"><b>Status:</b> <span class="status">{{ selectedPayment.invoice.status }}</span></div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- Customer Details Section -->
    <div class="details-section">
      <h3>Customer Details</h3>
      <div class="grid">
        <div class="grid-item"><b>Name:</b> {{ selectedPayment.invoice.customerDetails.fullName }}</div>
        <div class="grid-item"><b>Email:</b> {{ selectedPayment.invoice.customerDetails.email }}</div>
        <div class="grid-item"><b>Phone:</b> {{ selectedPayment.invoice.customerDetails.phone }}</div>
        <div class="grid-item"><b>Address:</b> {{ selectedPayment.invoice.customerDetails.address }}</div>
        <div class="grid-item"><b>Payment Method:</b> {{ selectedPayment.invoice.customerDetails.paymentMethod }}</div>
        <div class="grid-item"><b>Mobile Number:</b> {{ selectedPayment.invoice.customerDetails.mobileNumber }}</div>
      </div>
    </div>
  </div>
</p-dialog>


   <!-- Column Management Dialog -->
   <p-dialog [(visible)]="columnDialogVisible" [header]="'Manage Columns'" [modal]="true" [responsive]="true" [style]="globalColumnControlService.getColumnDialogConfig()">
    <p-fieldset legend="Columns" [toggleable]="true">
      <p-pickList [source]="sourceColumns" [target]="targetColumns" sourceHeader="Available Columns" targetHeader="Selected Columns" 
                  [dragdrop]="true" [responsive]="true" breakpoint="1400px">
        <ng-template let-column pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            <span class="font-bold">{{ column.header }}</span>
          </div>
        </ng-template>
      </p-pickList>
    </p-fieldset>
    <p-footer>
      <p-button label="Close" icon="pi pi-times" (click)="columnDialogVisible = false"></p-button>
    </p-footer>
  </p-dialog>
<p-dialog [(visible)]="displayDialog" header="Payment Details" [modal]="true" [style]="{ width: '30vw',height:'550px' }">
    <div class="p-fluid">
        <!-- Invoice Number Input -->
        <div class="field"  *ngIf="!showPaymentFormDetails">
            <label for="invoiceNumber">{{ 'invoice_number' | translate }}</label>
            <div class="p-inputgroup">
                <input 
                    id="invoiceNumber" 
                    pInputText 
                    [(ngModel)]="payment.invoiceNumber" 
                    type="number" 
                    placeholder="Enter Invoice Number"
                />
                <button 
                    pButton 
                    type="button" 
                    label="{{ 'search' | translate }}" 
                    (click)="loadCompanyInvoicesDetails(payment.invoiceNumber)"
                    class="p-button-outlined">
                </button>
            </div>
        </div>
    
        <!-- Other Form Details -->
        <div *ngIf="showPaymentFormDetails">

            <div class="field">
                <label for="invoiceNumber">{{ 'invoice_number' | translate }}</label>
                <input 
                    id="amountPaid" 
                    pInputText 
                    [(ngModel)]="payment.invoiceNumber" 
                    type="number" 
                    disabled="true"
                    />
            </div>
            <!-- Amount Paid Input -->
            <div class="field">
                <label for="amountPaid">{{ 'amount_paid' | translate }}</label>
                <input 
                    id="amountPaid" 
                    pInputText 
                    [(ngModel)]="payment.amountPaid" 
                    type="number" 
                    placeholder="Enter Amount Paid"
                />
            </div>
    
            <!-- Payment Method Dropdown -->
            <div class="field">
                <label for="paymentMethod">{{ 'payment_method' | translate }}</label>
                <p-dropdown 
                    id="paymentMethod" 
                    [options]="paymentMethods" 
                    [(ngModel)]="payment.paymentMethod" 
                    placeholder="Select Payment Method">
                </p-dropdown>
            </div>
    
            <!-- Reference Number Input -->
            <div class="field">
                <label for="referenceNumber">{{ 'reference_number' | translate }}</label>
                <input 
                    id="referenceNumber" 
                    pInputText 
                    [(ngModel)]="payment.referenceNumber" 
                    placeholder="Enter Reference Number (Optional)"
                />
            </div>
    
            <!-- Currency Input -->
            <div class="field">
                <label for="currency">{{ 'currency' | translate }}</label>
                <p-dropdown 
                    id="currency" 
                    [options]="currencies" 
                    [(ngModel)]="payment.currency" 
                    placeholder="Select Currency Type">
                </p-dropdown>
            </div>
        </div>
    </div>
    
    <p-footer>
        <button pButton label="Save" icon="pi pi-check" (click)="savePayment()"></button>
        <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="closePaymentDialog()"></button>
    </p-footer>
</p-dialog>
