
    
    <p-dock [model]="actionMenu" position="left">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.icon"  width="70%">
          <label>{{item.label}}</label>
  
      </ng-template>
  </p-dock>

<div class="mb-3" id="DriverList">
  
    
  
      
          
            <p-button 
            type="button" 
            icon="pi pi-cog" 
            (click)="columnDialogVisible = true" 
            label="Manage Columns" 
            styleClass="p-button-text" />
        

        <div class="card">
            
            <p-table
                [value]="drivers"
                [paginator]="true"
                [rows]="globalColumnControlService.rows"
                [first]="globalColumnControlService.first"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPage)="globalColumnControlService.pageChange($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
            >

            <ng-template pTemplate="header">
                <tr> 
                  <th *ngFor="let col of globalColumnControlService.getTargetColumns()" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <p-columnFilter [field]="col.field" type="text" display="menu"></p-columnFilter>
                  </th>   
                     <th>{{ 'actions' | translate }}</th>

                </tr>
              </ng-template>

                 
              <ng-template pTemplate="body" let-driver let-columns="targetColumns">
                <tr>
                    <td *ngFor="let col of globalColumnControlService.getTargetColumns()">                    
                        <ng-container *ngIf="col.field === 'imageUrl'">
                            <img 
                                [src]="baseUrl + driver.imageUrl" 
                                style="width: 70px; height: 70px; border-radius: 50%;">
                        </ng-container>
            
                        <ng-container *ngIf="col.field === 'status'">
                            <p-tag 
                                [value]="driver[col.field]" 
                                [severity]="functions.getSeverity(driver[col.field])">
                            </p-tag>
                        </ng-container>
            
                        <ng-container *ngIf="col.field !== 'status' && col.field !== 'imageUrl'">
                            {{ driver[col.field] }}
                        </ng-container>
                    </td>
                    
                    <td>
                        
                       <img 
                         src="assets/images/icons/edit.png" 
                          width="50px" 
                          (click)="editDriver(driver)" 
                          style="margin-right: 1rem;"

                        />
                     <!-- </p-button> -->

                     <!-- <p-button 
                     [raised]="true" 
                     severity="danger"
                     [rounded]="true" 
                    label="{{'delete' | translate}}" 
                    > 
                     -->
                    <img 
                      src="assets/images/icons/delete.png" 
                       width="50px" 
                       (click)="confirmDelete(driver)" 
                       />
                  <!-- </p-button> -->
                      
                    </td>
                </tr>
            </ng-template>
                        <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
                </ng-template>
            </p-table> 
        </div>

        <!-- Column Management Dialog -->
        <p-dialog 
            [(visible)]="columnDialogVisible" 
            [header]="'Manage Columns'" 
            [modal]="true" 
            [responsive]="true"
            [style]="globalColumnControlService.getColumnDialogConfig()">
            <p-fieldset legend="Columns" [toggleable]="true">
                <p-pickList 
                    [source]="globalColumnControlService.getSourceColumns()" 
                    [target]="globalColumnControlService.getTargetColumns()" 
                    sourceHeader="Available Columns"
                    targetHeader="Selected Columns" 
                    [dragdrop]="true" 
                    [responsive]="true"
                    breakpoint="1400px"
                    filterBy="header" 
                    showSourceControls="false"
                    showTargetControls="false"
                                    
                    >
                    <ng-template let-column pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <span class="font-bold">
                                {{ column.header }}
                            </span>
                        </div>
                    </ng-template>
                </p-pickList>
            </p-fieldset>
            <p-footer>
                <p-button label="Close" icon="pi pi-times" (click)="columnDialogVisible = false"></p-button>
            </p-footer>
        </p-dialog>

        <!-- Edit Driver Dialog -->
        <p-dialog 
            [(visible)]="editDialogVisible" 
            [header]="'Edit Driver'" 
            [modal]="true" 
            [style]="{ width: '50vw', height: '50vw'  }" 
 
            [responsive]="true"
             >
            <form [formGroup]="driverForm">
                <div class="flex">
                    <!-- Left Side with Form Fields -->
                    <div class="flex flex-column w-5">
                      <div class="myform">
                        <div class="mb-3">
                            <label for="status">{{ 'company_id' | translate }}</label>
                                 <input pInputText id="companyID" formControlName="companyID" [disabled]="true"/>
                         </div>

                    <!-- Full Name -->
                    <div class="mb-3">
                        <label for="fullName">{{ 'full_name' | translate }}</label>
                       
                            <input pInputText id="fullName" formControlName="fullName" />
                        
                    </div>
                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email">{{ 'email' | translate }}</label>                       
                            <input pInputText id="email" type="email" formControlName="email" />
                    </div>
                      <!-- Phone -->
                      <div class="mb-3">
                        <label for="phone">{{ 'phone' | translate }}</label>
                             <input pInputText id="phone" formControlName="phone" />
                     </div>
                        <!-- Is Available For Booking -->
            <div class="card flex justify-content-left">  
                <label for="isAvilableForBooking">{{ 'is_avilable_for_booking' | translate }}</label>
                <div class="card flex justify-content-right" style="margin-left: 2rem;">
                  <p-checkbox formControlName="isAvilableForBooking" binary="true" 
                  severity="success"
                  ></p-checkbox>
             </div>
                </div>
                    </div>
                    
                    </div>
                    
                    <p-divider layout="vertical" styleClass="mx-4"></p-divider>

                    <!-- Right Side with Remaining Form Fields and Button -->

                    <div class="card flex justify-content-center">  
                        <div class="myform">  

                        <div class="mb-3">
                            <label for="status">{{ 'status' | translate }}</label>
                           
                                <input pInputText id="status" formControlName="status" [disabled]="true"/>
                            
                        </div>


                        <label for="licenseExpireDate">{{ 'license_expire_date' | translate }}</label>


                        <div class="mb-3">
            
                                    <p-calendar formControlName="licenseExpireDate" />
                         </div>
                  
 <!-- License Number -->
 <div class="mb-3">
    <label for="licenseNumber">{{ 'license_number' | translate }}</label>
        <input pInputText id="licenseNumber" formControlName="licenseNumber" />
</div>

                      <!-- License Classes -->
         <div class="mb-3">
            <label for="licenseClasses">{{ 'license_classes' | translate }}</label>
            <input pInputText id="licenseClasses" type="text" formControlName="licenseClasses" class="w-full" />
          </div>
  
           <!-- License Expire Date -->
 
          
              
                    <p-footer>
                        <div class="flex flex-column w-full">

                        <p-button label="Save" icon="pi pi-check" (click)="saveDriver()" class="p-button-success"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" (click)="editDialogVisible = false" class="p-button-secondary"></p-button>
                   
                    </div>
                   
                    </p-footer>
                </div>
                </div>
                </div>
            </form>
        </p-dialog>

        <!-- Confirm Delete Dialog -->
        <p-dialog 
            [(visible)]="deleteDialogVisible" 
            [header]="'Confirm Delete'" 
            [modal]="true" 
            [style]="{ width: '30vw' }">
            <p>Are you sure you want to delete this driver?</p>
            <p-footer>
                <p-button label="Yes" icon="pi pi-check" (click)="deleteDriver()" class="p-button-danger"></p-button>
                <p-button label="No" icon="pi pi-times" (click)="deleteDialogVisible = false" class="p-button-secondary"></p-button>
            </p-footer>
        </p-dialog>
 </div>
