




:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
      }
  
      .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
  }
}




.profile-menu {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #fff; /* Optional: add border to avatar */
    box-shadow: 0 0 0 2px #007ad9; /* Optional: add a shadow effect */
    cursor: pointer;
  }
  
  .profile-details {
    padding: 10px;
  }
  
  
  .dashboard-container {
    padding: 15px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-item {
    flex: 1 1 22%;  
    min-width: 250px;  
    margin-bottom: 15px;  
  }
  
  .large-card-item {
    flex: 1 1 48%;  
    min-width: 300px;  
    margin-bottom: 15px;
  }

   .truck-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }

  .p-card {
    min-width: 250px;
  }

  .p-button-sm {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
 
  .chip-green {
    background-color: #4CAF50; /* green */
    color: white;
  }
  
  .chip-red {
    background-color: #F44336; /* red */
    color: white;
  }
  div#backlayout {
    vertical-align: middle;
    margin: 2rem;
}
   
.carousel-item {
  margin: 0 15px; /* Adjust as needed for horizontal spacing */
}

 
label {
  background: linear-gradient(270deg, 
    #ff6a00,   
    #ee0979,    
    
    #0b0a04,    
    #fe0000,  
    #1c03ab,   
    #ff6a00     
  );
  background-size: 1200% 1200%;
  animation: gradientAnimation 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;  
}

/* Side Menu Styling */
 /* Styles for Main Content Area to Adjust Based on Sidebar State */
 .p-sidebar {
  overflow: hidden;
  transition: width 0.3s ease;
}

.p-sidebar .p-menubar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.p-sidebar .p-menuitem-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  transition: justify-content 0.3s ease;
}

.p-sidebar .p-menuitem-link img {
  margin-right: 0;
}

.p-sidebar .p-menuitem-link span {
  display: inline-block;
  transition: opacity 0.3s;
}

.toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}


/* End Side Menu Style */




@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 

 

  @media (max-width: 768px) {
    .card-item, .large-card-item {
      flex: 1 1 100%;  
    }
  }

  
  
  