<!-- sidebar.component.html -->
<p-toast position="top-right" />
<div class="layout-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="isSidebarVisible" id="sidebar">
     
    <div class="toggle-button" (click)="toggleSidebar()">
      <i class="pi" [ngClass]="isSidebarVisible ? 'pi-angle-right' : 'pi-angle-left'" style="float: right;"></i>
     </div>
    <p-menubar [model]="items" [style]="{ background: 'none', border: 'none', padding: '0', margin: '1rem' }">
      <ng-template let-item pTemplate="item">
        <a *ngIf="!item.separator" [routerLink]="item.routerLink" class="p-menuitem-link" style="display: flex; align-items: center; padding: 0.3rem 0; margin: 0;">
          <img *ngIf="item.icon" [src]="item.icon" width="30px" style="margin-right: 1rem;"> <!-- Reduced image size -->
          <span *ngIf="!isSidebarVisible" style="font-size: 0.9rem; margin: 0;">{{ item.label }}</span> <!-- Reduced font size and margin -->
        </a>
      </ng-template>
    </p-menubar>
  
  </div>

  <div class="main-content">
    <div class="dashboard-container" id="backlayout">
      <p-card>
    <router-outlet></router-outlet>
    </p-card>
    </div>
  </div>
</div>

<style>
/* Base styling for the layout */
.layout-container {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
}

.sidebar {
  background-color: transparent;
  height: 100%;
  width: 200px;
  transition: width 0.3s ease; /* Transition for smooth resizing */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-color: brown;
  border-radius: 20px;
}

.sidebar.collapsed {
  width: 50px; /* Width when sidebar is collapsed */
}

.sidebar .toggle-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: block;
}

.toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
.main-content {
  transition: margin-left 0.3s ease;
  padding: auto;
   height: 100vh;
  overflow-y: auto;
}
/* Add vertical space between menu items */
.sidebar .p-menu .p-menuitem {
  margin-top: rem;  /* Adjust this value to control space between menu items */
}

.sidebar .p-menu .p-menuitem .p-menuitem-link {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  margin: 1rem;
}

.sidebar .p-menu .p-menuitem .menu-icon {
 
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.sidebar .p-menu .p-menuitem .menu-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .p-menu .p-menuitem .menu-label {
  display: none;
}

.sidebar.collapsed .p-menu .p-menuitem .menu-icon {
  transform: scale(0.8);
}


</style>